@import '_base/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif !important;
}

@import '_components/Navbar.scss';
@import '_components/Footer.scss';
@import '_components/Login.scss';
@import '_components/Register.scss';
@import '_components/Home.scss';
@import '_components/HeroBanner.scss';
@import '_components/EventCard.scss';
@import '_components/EventCarousel.scss';
@import '_components/NewItems.scss';
@import '_components/AboutUs.scss';


.btn-primary{
    background-color: #7749F8;
    border: none;

    &:hover{
        background-color: #6437e0;
    }
}

.bg-primary{
    background-color: #7749F8 !important;
}

.border-primary{
    border-color: #7749F8 !important;
    opacity: 0.5;
}

.btn-warning{
    background-color: #FFC107;

    &:hover{
        background-color: #d4a004;
    }
}

.custom-bg{
    background: rgb(139,100,249);
    background: linear-gradient(0deg, rgba(108,73,248,1) 0%, rgba(108,73,248,1) 80%,rgba(139,100,249,0.9010197829131653)  100%);    
}

.title-custom{
    font-size: 24px;
    font-weight: bold;
}

.text-align-left{
    text-align: left;
}

.text-primary{
    color: #7749F8 !important;
}

.nav-link{
    color: black !important;
    font-size: 16px;
}

.active{
    font-weight: bold;
    color: #7749F8 !important;
}

.nav-item{
    padding-left: 16px;
    padding-right: 16px;
}

.title-second{
    font-size: 20px;
    font-weight: 600;
}


// @media screen and (max-width: 768px) {
//    h1 {
//     font-size: ;
//    } 
// }