.navbar {
  height: 100px;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #000;

  &.active {
    color: #6c63ff;
  }

  &:hover {
    color: #6c63ff;
  }
}

ul.nav {
  @media screen and (max-width: 768px) {
    flex-direction: column !important;
    align-items: flex-start;
  }
}

.navbar-light .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
