// REM q = Quarter, h = Half, t = Three quarters, u = ten units

$zero-q-r: 0.25rem;
$zero-h-r: 0.5rem;
$zero-t-r: 0.75rem;
$zero-t-r-u: 0.875rem;
$one-r: 1rem;
$one-q-r: 1.25rem;
$one-h-r: 1.5rem;
$one-t-r: 1.7rem;
$two-r: 2rem;
$two-h-r: 2.5rem;
$two-t-r: 2.75rem;
$three-r: 3rem;
$three-h-r: 3.5rem;
$three-t-r: 3.75rem;
$four-r: 4rem;
$four-h-r: 4.5rem;
$five-r: 5rem;
$six-q-r: 6.25rem;
$seven-r: 7rem;
$nine-r: 9rem;
$ten-r: 10rem;
$eleven-r: 11rem;
$eleven-q-r: 11.25rem;

// Border radius

$light-radius: 0.125rem;
$card-formation-radius: 0.25rem;
$form-radius: 0.5rem;
$standard-radius: 1rem;

// Min width

$logo-container: 15rem;
